{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Short story about me.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      <p>
        After finishing my Bachelor in Eletromechanical Engineering, I worked in this field for about a year until I
        realized I wanted what I always felt attracted to, programming. <br><br>
        Heard from a friend about Udemy and decided to take a few courses alongside a lot of youtube tutorials on Python
        overall, some CSS, HTML, Bootstrap and also some Linux. After that I noticed that within programming I was
        having the most fun working with data, so I took a course in the data analytics field: Google Data Analytics
        Course. <br><br>
        Now I feel confident and job ready both in data analytics and python.
        I am looking to get into one of those fields while still improving my data analytics skills and like I said in
        the intro, I really enjoy learning new things, so I am currently also studying Linux to better understand how
        servers work and also machine learning and data science since I find the AI field and data very fascinating.
      </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}