{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.pexels.com/photos/3038740/pexels-photo-3038740.jpeg?cs=srgb&dl=pexels-vlado-paunovic-3038740.jpg&fm=jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Hi, I'm David</h1>
            <span class="subheading">Welcome to my Portfolio.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Brief Intro -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          - From Electromechanical Engineering Bachelor to Data.<br>
          - Open source fan (Python and R are my primary tools).<br>
          - Continuous learning is a must.<br>
          - Outside of data, I enjoy outdoors exercise, books, films and music.
        </p>
        <a class="btn btn-outline-dark" href="/about">
          MORE ABOUT ME
        </a>
        <p>Have fun in browsing through the content and thank you for your visit!</p>
      </div>
    </div>
</div>

    <!-- Main Content ( First Carousel) -->

<div class="works-heading">
  <h3>Data Related Works</h3>
</div>

<div class="container my-4">
  <!--Carousel Wrapper-->
  <div id="multi-item-example2" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top" style="text-align:center">
      <a class="btn-floating" href="#multi-item-example2" data-slide="prev"><i class="fa fa-chevron-left" style="font-size:50px"></i></a>
      <a class="btn-floating" href="#multi-item-example2" data-slide="next"><i class="fa fa-chevron-right" style="font-size:50px"></i></a>
    </div>
    <br>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example2" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example2" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="static/img/Singapore plot.png" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Singapore's Airbnb Listings Study (R)</h4>
                <p class="card-text">I take a look and analyse a dataset from 2019 regarding Airbnb listings in Singapore.
                <p class="post-meta">Posted by
                <a href="/about">David</a>
                 on 17-01-2022 </p>
                <a class="btn btn-outline-dark" href="/post/1">Check Post</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="static/img/bike_routes_plot.png"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Divvy's Case Study (R)</h4>
                <p class="card-text">Case study for the course Google Data Analytics, where I perform an analysis to get
                  insights and respond to the business task.</p>
                <p class="post-meta">Posted by
                <a href="/about">David</a>
                 on 19-01-2022 </p>
                <a class="btn btn-outline-dark" href="/post/2">Check Post</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="static/img/sunburst_status.png"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Space Missions Dataset Analysis (Python)</h4>
                <p class="card-text">Performing analysis on a dataset that includes all space missions since the
                  beginning of the space race (1957).</p>
                <p class="post-meta">Posted by
                <a href="/about">David</a>
                 on 05-02-2021 </p>
                <a class="btn btn-outline-dark" href="/post/3">Check Post</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="static/img/tableau dashboard.png">
              <div class="card-body">
                <h4 class="card-title">Store Profit Dashboard</h4>
                <p class="card-text">Interactive dashboard created on Tableau with a Kaggle dataset of a store's profit.
                </p>
                <p class="post-meta">Posted by
                <a href="/about">David</a>
                 on 08-02-2022 </p>
                <a class="btn btn-outline-dark" href="/post/5">Check Post</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="static/img/tableau dashboard(cold war).png"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Tableau Dashboard (Space Missions Dataset)</h4>
                <p class="card-text">
                    Interactive Tableau Dashboard created for the Space Missions Dataset after cleaning
                  and preparing the data in Python.
                </p>
                <p class="post-meta">Posted by
                <a href="/about">David</a>
                 on 12-02-2022 </p>
                <a class="btn btn-outline-dark" href="/post/4">Check Post</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Placeholder</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <p class="post-meta">Posted by
                <a href="/about">David</a>
                 on 30-02-2021 </p>
                <a class="btn btn-outline-dark" href="/post/6">Check Post</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->

    </div>
    <!--/.Slides-->

  </div>

  <section>
        <div class="categories">

            <a href="/post/1">
                <div class="row" style="outline-style: solid">
                    <div class="col d-flex justify-content-center align-items-center"><h1 style="font-size: 26px">Singapore's Airbnb Listings Study (R)</h1></div>
                </div>
            </a>

            <a href="/post/2">
                <div class="row" style="outline-style: solid">
                    <div class="col d-flex justify-content-center align-items-center"><h1 style="font-size: 26px">Divvy's Case Study (R)</h1></div>
                </div>
            </a>

            <a href="/post/3">
                <div class="row" style="outline-style: solid">
                    <div class="col d-flex justify-content-center align-items-center"><h1 style="font-size: 26px">Space Missions Dataset Analysis (Python)</h1></div>
                </div>
            </a>

            <a href="/post/5">
                <div class="row" style="outline-style: solid">
                    <div class="col d-flex justify-content-center align-items-center"><h1 style="font-size: 26px">Tableau Dashboard (Space Missions Dataset)</h1></div>
                </div>
            </a>

            <a href="/post/4">
                <div class="row" style="outline-style: solid">
                    <div class="col d-flex justify-content-center align-items-center"><h1 style="font-size: 26px">Tableau Dashboard (Store Profit)</h1></div>
                </div>
            </a>

            <a href="/post/6">
                <div class="row" style="outline-style: solid">
                    <div class="col d-flex justify-content-center align-items-center"><h1 style="font-size: 26px">Placeholder</h1></div>
                </div>
            </a>

        </div>


    </section>
  <!--/.Carousel Wrapper-->

  <br><br>
  <!-- Main Content ( Second Carousel) -->
  <div class="works-heading">
  <h3>Other works.</h3>

  </div>
<div class="container my-4">
  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top" style="text-align:center">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left" style="font-size:50px"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right" style="font-size:50px"></i></a>
    </div>
    <br>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://www.discoveryworld.org/wp-content/uploads/2020/04/1920x960-MorseCode-Alpha.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Simple Morse Code Converter</h4>
                <p class="card-text">Simple Python script to translate to and from Morse Code.
                <p class="post-meta">Posted by
                <a href="/about">David</a>
                 on 01-12-2021 </p>
                <a class="btn btn-outline-dark" href="/post/7">Check Post</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://static.wixstatic.com/media/nsplsh_da10d15d90064de88119196beeca103c~mv2.jpg/v1/fill/w_640,h_960,al_c,q_85,usm_0.66_1.00_0.01/nsplsh_da10d15d90064de88119196beeca103c~mv2.webp" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Personal Website</h4>
                <p class="card-text">My personal website. The very own website you are on.</p>
                <p class="post-meta">Posted by
                <a href="/about">David</a>
                 on 10-10-2021 </p>
                <a class="btn btn-outline-dark" href="/post/8">Check Post</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="static/img/bts-hot100.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Music Time Machine</h4>
                <p class="card-text">Script to scrapes data from a chosen date and creates a playlist on spotify with
                    that data.</p>
                <p class="post-meta">Posted by
                <a href="/about">David</a>
                 on 05-09-2021 </p>
                <a class="btn btn-outline-dark" href="/post/9">Check Post</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="static/img/pomodoro.png"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Pomodoro Technique UI</h4>
                <p class="card-text">Python script with UI created with Tkinter for the Pomodoro Technique.</p>
                <p class="post-meta">Posted by
                <a href="/about">David</a>
                 on 02-09-2021 </p>
                <a class="btn btn-outline-dark" href="/post/10">Check Post</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="/static/img/color-thief.png"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Color Palette Thief Website</h4>
                <p class="card-text">Website where you can upload images and retrieve the most predominant colors along
                    with the respective HEX codes.</p>
                <p class="post-meta">Posted by
                <a href="/about">David</a>
                 on 16-02-2022 </p>
                <a class="btn btn-outline-dark" href="/post/11">Check Post</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Placeholder</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <p class="post-meta">Posted by
                <a href="/about">David</a>
                 on 30-02-2021 </p>
                <a class="btn btn-outline-dark" href="/post/12">Check Post</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->

    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->

</div>
<section>
        <div class="categories">

            <a href="/post/7">
                <div class="row" style="outline-style: solid">
                    <div class="col d-flex justify-content-center align-items-center"><h1 style="font-size: 26px">Simple Morse Code Converter</h1></div>
                </div>
            </a>

            <a href="/post/8">
                <div class="row" style="outline-style: solid">
                    <div class="col d-flex justify-content-center align-items-center"><h1 style="font-size: 26px">Personal Website</h1></div>
                </div>
            </a>

            <a href="/post/9">
                <div class="row" style="outline-style: solid">
                    <div class="col d-flex justify-content-center align-items-center"><h1 style="font-size: 26px">Music Time Machine</h1></div>
                </div>
            </a>

            <a href="/post/10">
                <div class="row" style="outline-style: solid">
                    <div class="col d-flex justify-content-center align-items-center"><h1 style="font-size: 26px">Pomodoro UI</h1></div>
                </div>
            </a>

            <a href="/post/11">
                <div class="row" style="outline-style: solid">
                    <div class="col d-flex justify-content-center align-items-center"><h1 style="font-size: 26px">Color Palette Thief Website</h1></div>
                </div>
            </a>

            <a href="/post/12">
                <div class="row" style="outline-style: solid">
                    <div class="col d-flex justify-content-center align-items-center"><h1 style="font-size: 26px">Placeholder</h1></div>
                </div>
            </a>

        </div>

    </section>
</div>

{% include "footer.html" %}
